* {margin: 0;padding:0;} /*reseteo valores por defecto*/
/*///////////////Desktop///////////////*/
body {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
/*Estilos generales para los contenedores*/
#headerId {
    width: 100%, auto;
    height: 200px;
    margin: 10px;
    margin-bottom: 0;
    /* padding: 10px; */
    background-image: url("img/header.jpg");
    background-size: cover;
    background-position: center;
}
.wrap1 {
    width: 100%,auto;
    margin: 10px;
    margin-bottom: 0;
    background-color: lightgrey;
    padding: 10px;
}
.wrap2 {
    padding: 10px;
}
.wrap3 {
    width: 100%;
    height: 10px;
}
/*Estilos para el contenedor header*/
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#mainHeader {
    /* margin-top: 3%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 10%;
    height: 80px;
}
#logo img {
    width: 100%;
}
nav {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%; 
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
li {
    display: inline;
    /* list-style-image:url('img/nav/home.png'); */
}
a img {
    width: 15px;
    margin-right: 5px;
    margin-top:2px;
    opacity: 50%;
}
a {
    font-family: Arial;
    color: grey;
    text-decoration: none;
    display: block;
    padding: 6px;
    float: left;
}
a:hover {
    color: black;
}
a img:hover{
    opacity: 100%;
}
#titHeader {
    /* margin-top: 10px; */
    height: 70px;
    margin-left: 5%;
    margin-right: 5%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}
#pTitHeader {
    margin-top: 2%;
    color: rgba(238, 133, 95, 0.8);
    font-size: 1.5em;  
}
/*Estilos para el contenedor main*/
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#mainIzq {
    width: 80%;
    background: darkslateblue;
}
#mainArticle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.articleContent {
    width: 48%;
    background: midnightblue;
}
.uno {
    margin-bottom: 10px;
}
#articleFoot {
    background: cornflowerblue;
    margin-top: 10px;
}
#mainDrch {
    width: 20%;
    background: tomato;
    margin-left: 10px;
}
.asideContent {
    background: gold;
}
aside p:first-child {
    margin-bottom: 10px;
}
/*Estilos para el contenedor footer*/
footer {
    display: flex;
    flex-direction: column;
}

#foot {
    background: goldenrod;
}

/*///////////////Tablet///////////////*/
@media only screen and (max-width: 992px){
    #mainWrap {
        background: yellow;
        flex-direction: column;
    }
    #mainIzq, #mainDrch {
        width: 100%;
        margin-left: 0px;
        padding: 0;
    }
    main article {
        margin-bottom: 10px;
    }
    #mainArticle {
        margin: 10px;
    }
    #articleFoot {
        margin: 10px;
        width: auto;
    }
    .asideContent {
        margin: 10px;
        width: auto;
    }

}

/*///////////////Phone///////////////*/
@media only screen and (max-width: 600px){
    #headerId {
        background-position:top;
    }
    .wrap1, .wrap2, .wrap3, #mainHeader, #mainArticle {
        display: flex;
        flex-direction: column;
    }
    #logo {
        display: flex;
        align-items: center;
        height: 60px;
    }
    #logo img {
        width: 15%;
    }
    /* ul {
        display: block;
    } */
    #logo, #nav, #rrss, .articleContent {
        width: 100%;
    }
    #nav {
        margin-left: 0;
        width: 100%;
    }
    a {
        font-size: 0.6em;
    }
    a img {
        width: 10px;
        margin-right: 5px;
        margin-top:0px;
    }

    #nav, .articleContent, .asideContent {
        margin-bottom: 10px;
    }
    #pTitHeader {
        font-size: 1em;  
    }
    .cuatro {
        margin-bottom: 0px;
    }
    #articleFoot, #asideContent2{
        margin-top: 0;
    }

}